
// VARIABLES
$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);




body{
    margin-top: 105px;
}


//  NAVBAR
.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;

    .nav-item{
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

//  SHOWCASE 
#showcase{
   position: relative;
//    background: url('../img/mountains.jpg') no-repeat;
   background: url('../img/sky.jpeg') no-repeat;
   min-height: 600px;

    .primary-overlay{
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    img{
        width: 400px;
    }
}

.info-header{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

// NEWSLETTER


// BOXES
.bg-for-cards{
    background: $primary;
}


//ABOUT / WHY SECTION

//AUTHORS
#author{
   
    .card-body{
        
        img{
            margin-top: -4.5rem;
        }
    }
    .card-body:hover{
        background: $primary;
        color: white;
    }


}

//CONTACT
#contact{

    .submit-btn{
        background: white;
        border: 1px solid $primary;
        color: $primary;
    }

    .submit-btn:hover{
        background:  $primary;
        border: 1px solid white;
        color: white;
    }
}


//FOOTER
#main-footer{
    background: $primary;
}


// MEDIA QUERIES
@media(min-width: 1259px){
    #showcase{
        background: url('../img/mountains.jpg') no-repeat;
    }
}

@media(max-width: 991px){
    #showcase{
        min-height: 500px;
    }

    .mb-resp-card{
        margin-bottom: 1rem;
    }

    .mb-resp-author-card.upper-cards{
        margin-bottom: 5rem;
    }
}
@media(max-width: 768px){
    #showcase{
        min-height: 500px;

        h1{
            font-size: 2rem;
        }
    }

    .mb-resp{
        margin-bottom: 1rem;
    }

    .mb-resp-card{
        margin-bottom: 0;
    }

    .mb-resp-author-card{
        margin-bottom: 5rem;
    }
}